<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form class="form" @submit.prevent="handleSubmit">
        <div>
          <label for="username">用户名：</label>
          <input id="username" type="text" />
        </div>

        <div>
          <div id="gender" class="redio-group">
            <label for="gender">性别：</label>
            <input
              type="radio"
              name="gender"
              value="male"
              v-model="gender"
            /><span>男</span>
            <input
              type="radio"
              name="gender"
              value="female"
              v-model="gender"
            /><span>女</span>
          </div>
        </div>

        <div>
          <div id="interest" class="checkbox-group">
            <label for="interest">兴趣：</label>
            <input
              type="checkbox"
              name="interests"
              value="frontend"
              v-model="interests"
            />
            <span>前端</span>
            <input
              type="checkbox"
              name="interests"
              value="backend"
              v-model="interests"
            />
            <span>后端</span>
            <input
              type="checkbox"
              name="interests"
              value="fullstack"
              v-model="interests"
            />
            <span>全栈</span>
          </div>
        </div>

        <div>
          <label for="occupation">职业：</label>
          <select name="occupation" v-model="occupation">
            <option value="frontend">前端工程师</option>
            <option value="backend">后端工程师</option>
            <option value="fullstack">全栈工程师</option>
          </select>
        </div>

        <div>
          <label for="intro">自我介绍：</label>
          <textarea id="intro" rows="10" v-model="intro"></textarea>
        </div>
        <button type="submit">提交</button>
      </form>
      <div class="result">
        <ul>
          <li>性别：{{gender}}</li>
          <li>兴趣：{{interests}}</li>
          <li>职业：{{occupation}}</li>
          <li>自我介绍：{{intro}}</li>
        </ul>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
